# Configuration file for roverapp. 
# Place in /etc/rover.conf
ROVER_IDENTITY_C=1
MQTT_BROKER_C=127.0.0.1
MQTT_BROKER_PORT_C=1883
ROVER_MQTT_QOS_C=0
MQTT_USERNAME_C=sensor1@DEFAULT_TENANT
MQTT_PASSWORD_C=hono-secret
USE_GROOVE_SENSOR_C=0
HONO_HTTP_HOST_C=idial.institute
HONO_HTTP_PORT_C=8080
HONO_HTTP_TENANT_NAME_C=DEFAULT_TENANT
HONO_HTTP_DEVICE_ID_C=4711
HONO_HTTP_REGISTER_PORT_C=28080
HONO_HTTP_USERNAME_C=sensor1
HONO_HTTP_PASSWORD_C=hono-secret
